$orange:#dd6b4d;
$darkBlue: #183661;
$blue: #1c4b82;
header {
    width: 100%;
    display: block;
    min-height: 10%;
    background: $blue;
    position: relative;
    top: 0%;
    nav {
        display: flex;
        width: 90%;
        justify-content: flex-end;
        position: fixed;
        background-color: $blue;
        z-index: 2;
        border-bottom: 4px solid $orange;
        top: 0%;
    }
    #nav-logo {
        width: 140px;
        margin: 5px;
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 1em;
    }
    ul li a {
        font-size: 2.5em;
        margin: 0 1em;
        color: #ffffff;
        font-weight: 700;
        font-family: 'Nanum Gothic', sans-serif;
        text-shadow: .5px .5px rgb(0, 0, 0);
        border-radius: 8px;
        padding: 0 .5em;
        &:hover {
            color: $orange;
            text-decoration: underline white;
            text-underline-position: under;
        }
    }
}