#map-section {
    height: 80vh;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding-bottom: 4em;
    #map-section h4 {
        color: #1c4b82;
        text-decoration: underline;
        font-weight: 700;
    }
    .address {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
    #map-section h5 {
        color: #dd6b4d;
        margin: .5em;
        font-size: 2em;
        font-weight: 700;
    }
    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    #map {
        width: 50%;
        height: 50vh;
    }
}