#map-section {
    height: 80vh;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding-bottom: 4em;
    .address h4 {
        color: $blue;
        text-decoration: underline solid;
        font-weight: 700;
        font-size: 3em;
    }
    .address {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
    .address h5 {
        color: $orange;
        margin: .5em;
        font-size: 2em;
        font-weight: 700;
    }
    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    #map {
        width: 50%;
        height: 50vh;
    }
}